header
  .wrapper
    .logo
      img(
        alt="Showapp"
        src="assets/img/logo.png"
      )
      h1.title
        | Showapp
    nav.menu
      a.menu__active(href="#")
        | Movies
      a(href="#")
        | Series
      a(href="#")
        | Favoritos
include partials/filter.pug
