header.header(ng-controller="HeaderController as headerCtrl")
  .wrapper.p-half-v
    .grid.grid-negative
      .grid__item.one-half
        .logo
          img.logo-img(
            alt="Showapp"
            src="assets/img/logo.png"
          )
          h1.logo-title
            | {{ headerCtrl.title }}
      .grid__item.one-half
        .hamburger-button.mid--hidden.right.m-half-t#js-hamburger
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
          .hamburger-button__bar
        nav.menu#js-menu
          a.menu__item.menu__item-active.anm(href="#")
            | Movies
          a.menu__item.anm(href="#")
            | Series
          a.menu__item.anm(href="#")
            | Favoritos
  // include partials/filter.pug
// include partials/list.pug
