section.shows.p-t
  .wrapper
    .grid.grid-negative.overflow-visible.clear
      .grid__item.one-whole.mid--one-half.m-b(
        ng-repeat="item in favoriteCtrl.getShows() | filter: favoriteCtrl.getFilter()"
      )
        show-app-show-card(item="item")
    .message(ng-if="favoriteCtrl.getShows().length == 0")
      | Lo sentimos, no se encontraron favoritos relacionadas con estos criterios
