nav.filter
  .wrapper
    .input-form.input-form__icon-left
      label.fa.fa-search.input-form__icon(for="search")
      input.input-form__text(
        type="text"
        id="search"
        placeholder="Search fora movie, series and videos"
      )
