.modal.anm(
  ng-class="{ 'modal__show': openModal }"
  ng-click="modalCtrl.closeModal()"
)
  .modal__wrapper
    i.modal-close.anm.anm-grow(
      title="Cerrar"
      ng-click="modalCtrl.closeModal()"
    )
    .modal-trailer(ng-bind-html="modalCtrl.reproductor | to_trusted")
