.modal(
  ng-class="{ 'modal__show': openModal }"
  ng-click="modalCtrl.closeModal()"
)
  .modal__wrapper
    i.modal-close.anm.anm-grow(
      title="Cerrar"
      ng-click="modalCtrl.closeModal()"
    )
    .modal__loading(ng-if="modalCtrl.loading")
      i.fa.fa-circle-o-notch.fa-2x.fa-spin.color-white
    .modal__message.color-white(ng-if="modalCtrl.message")
      | {{ modalCtrl.message }}
    .modal-trailer(ng-bind-html="modalCtrl.reproductor | to_trusted")
