include tpl/data.pug
doctype html
html(
  lang="es"
)
  head
    include tpl/head.pug
  body
    include tpl/header.pug
    
    section.shows.p-t
      .wrapper
        .grid.grid-negative.overflow-visible
          -var n = 0
          while ++n <= 4
            .grid__item.one-half.m-b
              include tpl/partials/show.pug
    
    include tpl/partials/modal.pug
    include tpl/footer.pug
