include pug/tpl/data.pug
doctype html
html(
  lang="es"
  ng-app="showApp"
)
  head
    include pug/tpl/head.pug
  body
    include pug/tpl/header.pug
    
    section.shows.p-t
      .wrapper
        .grid.grid-negative.overflow-visible.clear
          -var n = 0
          while ++n <= 4
            .grid__item.one-whole.mid--one-half.m-b
              include pug/tpl/partials/show.pug
    include pug/tpl/partials/modal.pug
    include pug/tpl/footer.pug
