body {
  margin-top: 140px;
  
  * {
    font-family: $font--title;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  header,
  nav,
  section {
    >.wrapper {
      max-width: $mid--start;
      margin: 0 auto;
      padding-left: $half--padding;
      padding-right: $half--padding;
      
      @media #{$gt--mid} {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
}
