body {
  
  * {
    font-family: $font--title;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  header,
  nav,
  section {
    >.wrapper {
      max-width: $wrapper;
      margin: 0 auto;
    }
  }
  
}
