nav.filter
  .wrapper
    .input-form.input-form__icon-left
      label.fa.fa-search.input-form__icon(for="search")
      input.input-form__text(
        type="text"
        id="search"
        placeholder="Search fora movie, series and videos"
      )

nav.list
  .wrapper
    h2.list-title.m-double-t.m-b
      | Descubra nuevas películas y programas de televisión
    .grid.grid-negative
      .grid__item.two-tenths
        h6.list-subtitle
          | Año
        .input-form
          select.input-form__select
            option(selected)
              | 2017
            option
              | 2016
            option
              | 2015
      .grid__item.seven-tenths
        h6.list-subtitle
          | Genero
        .input-form
          select.input-form__select
            option
              | Acción
            option(selected)
              | Drama
            option
              | Terror
