.modal#modal
  .modal__wrapper
    i.modal-close(
      title="Cerrar"
      id="modal-close"
    )
    .modal-trailer
      iframe.modal-trailer__video(
        src="https://www.youtube.com/embed/s7L2PVdrb_8"
        frameborder="0"
        allowfullscreen
      )
