article.show
  .show__image
    img(
      alt="Show Image"
    )
  .show__desc
    h3.show__desc__title
      | DC's Legends of Tomorrow.
    .qualification
      | 7.5
      
    .show__desc__info
      .show__desc__info-data
        | 2h 16min
      .show__desc__info-data
        | 5 May 2017 (USA)
      .show__desc__info-data
        | Acción y Aventura
        
    p.show__desc__info
      | Cuando los héroes por sí solos no son suficientes. El mundo necesita leyendas. Después de haber visto el futuro…
    
    .show__desc__controls
      .grid
        .grid__item.one-half
          a.button(href="#")
            | Ver Trailer
        .grid__item.one-half
          a.icon-button(href="#")
            | Agregar
            i.fa.fa-heart
