doctype html
html(
  lang="es"
  ng-app="showApp"
)
  head
    include app/pug/tpl/head.pug
  body
    show-app-header
    ng-view
    show-app-paginator
    
    // include app/pug/tpl/partials/modal.pug
    include app/pug/tpl/footer.pug
