include app/pug/tpl/data.pug
doctype html
html(
  lang="es"
  ng-app="showApp"
)
  head
    include app/pug/tpl/head.pug
  body
    show-app-header
    
    section.shows.p-t
      .wrapper
        .grid.grid-negative.overflow-visible.clear
            .grid__item.one-whole.mid--one-half.m-b
              show-app-show-card
    include app/pug/tpl/partials/modal.pug
    include app/pug/tpl/footer.pug
