doctype html
html(
  lang="es"
  ng-app="showApp"
)
  head
    include app/layouts/head/head.pug
  body
    show-app-header
    ng-view
    show-app-paginator
    include app/layouts/footer/footer.pug
