.button {
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 27px;
  background-color: transparent;
  font-weight: $weight--normal;
  font-size: 12px;
  cursor: pointer;
  
  &-primary {
    border-color: $first--color;
    color: $first--color;
    
    &:hover {
      color: $white;
      background-color: $first--color;
    }
  }
}

.hamburger-button {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 901;
  $root: &;

  &__bar {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $first--color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    
    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 9px;
    }
    
    &:nth-child(4) {
      top: 18px;
    }
  }
  
  &__open #{$root}__bar {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}
