.input-form {
  position: relative;
  $root: &;
  
  &__text {
    width: 100%;
    color: $second--color;
    font-size: 14px;
    font-weight: $weight--semibold;
    border: none;
    padding: $quarter--padding;
    outline: none;
    background-color: transparent;
  }
  
  &__icon {
    position: absolute;
    font-size: 24px;
    color: $second--color;
  }
  
  &__icon-left {
    #{$root}__text {
      padding-left: 45px;
    }
    
    #{$root}__icon {
      left: 0;
      top: 5px;
    }
  }
  
  
}
